<div class="page-wrapper">
  <h1>Sign up</h1>
  <br>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="row">
    <%= f.input :email, required: true, wrapper_html: { class: 'offset-m2 m8 s12' } %>
      <%= f.input :password, required: true, wrapper_html: { class: 'offset-m2 m8 s12' } %>
      <%= f.input :password_confirmation, required: true, wrapper_html: { class: 'offset-m2 m8 s12' } %>
      <br>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, "Sign up", class: "waves-effect waves-light btn" %>
    </div>
    <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>

<%= content_for :after_js do %>
<script>
  $(document).ready(function() {
    Materialize.updateTextFields();
  });
</script>
<% end %>
