<div class="page-wrapper">
  <div class="homepage-wrapper">
    <h1>MAAAG</h1>
    <div class="homepage-content">
      <p>The internet's best curated selection of indie magazines.</p>
      <br>
    </div>
    <div class="homepage-content">
      <div class="button-no-fill">
      <%= link_to "START BROWSING", new_user_session_path %>
      </div>
    </div>
  </div>
</div>
<div class="page-wrapper">
  <div class="magcard-row">
    <div class="magcard" style="background-image: url('<%= image_url(@magazines[0]) %>')"></div>
    <div class="magcard" style="background-image: url('<%= image_url(@magazines[1]) %>')"></div>
    <div class="magcard" style="background-image: url('<%= image_url(@magazines[2]) %>')"></div>
  </div>
  <div class="magcard-row">
    <div class="magcard" style="background-image: url('<%= image_url(@magazines[3]) %>')"></div>
    <div class="magcard" style="background-image: url('<%= image_url(@magazines[4]) %>')"></div>
    <div class="magcard" style="background-image: url('<%= image_url(@magazines[5]) %>')"></div>
  </div>
  <div class="magcard-row">
    <div class="magcard" style="background-image: url('<%= image_url(@magazines[6]) %>')"></div>
    <div class="magcard" style="background-image: url('<%= image_url(@magazines[7]) %>')"></div>
    <div class="magcard" style="background-image: url('<%= image_url(@magazines[8]) %>')"></div>
  </div>
</div>

