<div class="page-wrapper">
  <h1>LOG IN</h1>
  <br>
  <div class="brand-form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, label: false, placeholder: "email", :input_html => { :class => 'brand-input' } %>
      <%= f.input :password, required: false, label: false, placeholder: "password", :input_html => { :class => 'brand-input' } %>
      <br>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <br>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "button-no-fill" %>
    </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
