<div class="page-wrapper">
  <h1>LOG IN</h1>
  <br>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <%= f.input :email, wrapper_html: { class: 'm12 s12' } %>
      <%= f.input :password, wrapper_html: { class: 'm12 s12' } %>
      <br>
      <br>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <br>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "waves-effect waves-light btn width-100" %>
    </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
</div>

<%= content_for :after_js do %>
<script>
  $(document).ready(function() {
    Materialize.updateTextFields();
  });
</script>
<% end %>
